{% extends 'base.html' %}

{% block head %}
<title>{{ event.school }} | Tree-Plenish Events</title>
{% endblock %}

{% block body %}
<div id="title">
    <div class="overImage">
        <h1 id="mainTitle">Tree-Plenish.</h1>
        <h1>Striving for sustainability at {{ event.school }}</h1>
        <hr />
        <div>
            <h4 style="display: inline-block">{{ event.deadline }}</h4>
            <h4 style="display: inline-block; float: right">{{ event.location }}</h4>
        </div>
        <h4 style="text-align: center; margin: 5% 10%">
            Help offset {{ event.school }}'s paper usage by requesting a tree to be planted in your yard
        </h4>
        <div style="text-align: center">
            <a href="{{ event.treeLink }}" class="button" style="display: inline-block">Request a Tree</a>
            <a href="{{ event.volunteerLink }}" class="button" style="display: inline-block">Volunteer</a>
        </div>
    </div>

</div>

<div id="goalMsg">
    <h1>Our Goals</h1>
    <hr />
    <h3>Tree-Duce, Tree-Use, Tree-Cycle</h3>
    <p>{{ event.goalMsg }}</p>
</div>

<div id="supportOurMission">
    <div class="overImage">
        <h1>Support Our Mission</h1>
        <hr />
        <h3>Want a Tree?</h3>
        <p>
            Help us reach our goal of planting {{ event.treeGoal }} trees by opting to receive a tree in your 
            yard! Choose the type of tree you want and volunteers will come to your yard on 
            {{ event.deadline }} to plant them. Trees are {{ "${:,.2f}".format(event.treePrice) }} and will 
            come as saplings ({{ event.saplingHeight }}).
        </p>
        <a href="{{ event.treeLink }}" class="button">Sign up to Request a Tree</a>
    </div>
    
</div>

<div>
    <h1 class="divHead">Meet The Team</h1>
    <p>Contact us with any questions!</p>
    <div class="centered">
        <div class="cards">
            {% for person in event.team %}
                <div class="card {{'min3' if event.team|length >= 3}} {{'min2' if event.team|length >= 2}}">
                    <div class="circleCropper">
                        <img src="{{ person.image }}" class="profileImg {{ person.imageOrientation }}" alt="{{ person.name }}">
                    </div>
                    <div class="container">
                        <h2>{{ person.name }}</h2>
                        <p>{{ person.role }}</p>
                        <p>{{ person.bio }}</p> 
                        <p>{{ person.email }}</p>                   
                    </div>
                    
                </div>
            {% endfor %}
        </div>
    </div>


</div>

<div id="goalMetrics">
    <h1>Our Goal</h1>
    <hr />
    <div class="split">
        <div class="half">
            <h1>{{ event.treeGoal }}</h1>
            <p>Trees</p>
        </div>
        <div class="half">
            <h1 style="display: inline">{{ event.paperGoal }}</h1><h3 style="display: inline"> million</h3>
            <p>Sheets of Paper Replaced</p>
        </div>
    </div>
</div>


<div id="trees">
    <h1 class="divHead">Our {{ event.trees|length }} Trees</h1>
    <div  class="stiffCards">
        {% for tree in event.trees %}
            <div class="stiffCard">
                <img src="{{ tree.image }}" class="treeImg" alt="{{ tree.name }}">
                <div class="container">
                    <h2>{{ tree.name }}</h2>
                    <a href="{{ tree.link }}" class="button">Learn More</a>
                    <p>{{ tree.description }}</p>                    
                </div>
            </div>
        {% endfor %}
    </div> 

</div>

<div id="workSupport">
    <div class="split">
        <div class="half" style="background-color: rgba(54, 83, 79, 0.678);">
            <h2>Work With Tree-Plenish!</h2>
            <p>Fill out this interest form if you are interested in hosting an event at your school next year!</p>
            <a href="https://www.tree-plenish.org/host" class="button">Host an Event</a>
        </div>
        <div class="half"style="background-color: rgba(0,0,0,0.4);">
            <h2>Support Tree-Plenish!</h2>
            <p>Help Tree-Plenish build sustainable communities across the country!</p>
            <a href="https://www.paypal.com/donate/?cmd=_s-xclick&hosted_button_id=M5FN5Q844DAKU&source=url" class="button">Donate!</a>
        </div>
    </div>

</div>

{% endblock %}

{% block scripts %}
{% endblock %}